.perfil-container {
  text-align: center;
  margin-top: 60px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
}