/* Estilos generales de la app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

app-dashboard {
  display: block;
  margin: 0 auto;
  padding: 20px;
}